PORT=3000

DB_USERNAME=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=3306
DB_NAME=assurmoidb
DB_CONNECT_RETRIES=10
DB_CONNECT_DELAY_MS=3000

MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_FROM=no-reply@assurmoi.local
MAILHOG_UI_URL=http://localhost:8025
